<!doctype html>
<html>
	<head>
	 	<title>Asian American Association</title>
	 	<link rel='stylesheet' href='/stylesheets/style.css'>
	 	<link href='//fonts.googleapis.com/css?family=Raleway:400,300,200,100' rel='stylesheet' type='text/css'>
	 	<script src='/javascripts/jquery.js'></script>
	 	<script src='/javascripts/handlebars.js'></script>
	 	<script src='/javascripts/script.js'></script>
	</head>
	<body>
		<nav>
			<div class='transition' id='nav-title'>
				<a href='/'>
					<h1>AAA</h1>
					<h2>@UC Berkeley</h2>
				</a>
			</div>
			<ul>
				<li><a class ='link' id='events' href='/events'>Events</a></li>
				<li><a class ='link' id='families' href='/families'>Families</a></li>
				<li><a class ='link' id='committees' href='/committees'>Committees</a></li>
				<li><a class ='link' id='cabinet' href='/cabinet'>Cabinet</a></li>
				<li><a class ='link' id='media' href='/media'>Media</a></li>
			</ul>
			
			<div class='transition' id='login-button'>
				<div id='admin'><a href='/login'>Log in</a></div>
				<div id='login-pip' class='transition'><a href='/signup'>Sign up</a></div>
			</div>
		</nav>
		<div id='page-wrapper'>
			<header>Asian American Association</header>
			<main>
				{{{body}}}
			</main>
			<footer>
				<div>Find us @</div>
				<a href='https://www.facebook.com/UCBAAA'>Facebook</a>
				<div>Techno 2015</div>
			</footer>
		</div>
	</body>
</html>

