<!doctype html>
<html>
	<head>
	 	<title>Asian American Association</title>
	 	<link rel='stylesheet' href='/stylesheets/style.css'>
	 	<link href='//fonts.googleapis.com/css?family=Raleway:400,300,200,100' rel='stylesheet' type='text/css'>
	 	<script src='/javascripts/jquery.js'></script>
	 	<script src='/javascripts/handlebars.js'></script>
	 	<script src='/javascripts/script.js'></script>
	</head>
	<body>
		<nav>
			<div class='transition' id='nav-title'>
				<a class='link' href='/'>
					<h1>AAA</h1>
					<h2>@UC Berkeley</h2>
				</a>
			</div>
			<ul>
				<li><a class ='link' id='events' href='/events'>Events</a></li>
				<li><a class ='link' id='families' href='/families'>Families</a></li>
				<li><a class ='link' id='committees' href='/committees'>Committees</a></li>
				<li><a class ='link' id='cabinet' href='/cabinet'>Cabinet</a></li>
				<li><a class ='link' id='media' href='/media'>Media</a></li>
			</ul>
			<div class='transition' id='login-button'>
				<div id='admin'><a class='link' href='/login'>Log in</a></div>
				<div id='login-pip' class='transition'><a class='link' href='/signup'>Sign up</a></div>
			</div>
		</nav>
		<div id='page-wrapper'>
			<header>
				<div class='dark-overlay-01'>
					<div id='header-title'>Asian American Association</div>
				</div>
			</header>
			<main>
				{{{body}}}
			</main>
			<footer>
				<div class='dark-overlay-04'>
					<div id='footer-container'>
						<div class='footer-left'>
							<div id='footer-website' class='footer-el'>
								<h3>This Website</h3>
								<div>
									<a href=''>Design</a> <br>
									<a href=''>Technologies</a> <br>
									<a href=''>Github</a> <br>
									<a href=''>Design by Seth Sun</a>
								</div>
							</div><div id='footer-sponsors' class='footer-el'>
								<h3>Sponsors</h3>
								<div>
									<a href=''>Asus</a> <br>
									<a href=''>Ubisoft</a> <br>
									<a href=''>Riot Games</a> <br>
									<a href=''>Jamba Juice</a>
								</div>
							</div>
						</div><div id='footer-alumni' class='footer-right'>
							<div class='footer-el'>
								<h3>Alumni</h3>
								<div>
									<a href=''>Spring 2014</a> <br>
									<a href=''>Fall 2013</a> <br>
									<a href=''>Spring 2013</a> <br>
									<a href=''>Fall 2012</a>
								</div>
							</div><div id='footer-findus' class='footer-el'>
								<h3>Find us @:</h3>
								<div>
									<a href=''>Facebook</a> <br>
									<a href=''>Twitter</a> <br>
									<a href=''>Youtube</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>

