<div class='admin-el transition'>
	<div class='admin-el-name event-el-name'>
		<h2>{{name}}</h2>
	</div><div class='delete-button transition' data-name='{{name}}' data-type='Event'>
		-
	</div>
</div>