<div class='main-wrapper'>
	<h1 class='page-title'>{{title}}</h1>
	{{#each families}}
		<div class='family-container'>
			<div class='family-header'>
				<div class='family-title'><h1>{{ name }}</h1></div>
			</div>
			<div class='family-img'><img class='img-scaled' src='{{ img }}'></div>
			<div class='family-info'>
				<div class='family-description'><p>{{ info }}</p></div>
			</div>
		</div>
	{{/each}}
</div>