<div class='home-wrapper main-wrapper'>
	<img class='img-scaled' src='/images/aaa-cover.jpg'>
	<h1>Mission Statement</h1>
	<div class='home-info-container'><p>The purpose of the Asian American Association (AAA) is to be at the forefront of uniting the Asian American Community at Berkeley. AAA seeks to develop proactive and community-oriented leaders through a social, educational awareness and service network. It enhances the quality of life at Berkeley through its focus on diversity appreciation.</p></div>
	<h2>Come check out our table on Sproul 10-2!</h2>
</div>