<!doctype html>
<html>
	<head>
	 	<title>Asian American Association</title>
	 	<link rel='stylesheet' href='/stylesheets/style.css'>
	 	<link href='//fonts.googleapis.com/css?family=Raleway:400,300,200,100' rel='stylesheet' type='text/css'>
	 	<script src='/javascripts/jquery.js'></script>
	 	<script src='/javascripts/handlebars.js'></script>
	 	<script src='/javascripts/script.js'></script>
	</head>
	<body>
		<nav>
			<div class='transition' id='nav-title'>
				<a href='/'>
					<h1>AAA</h1>
					<h2>@UC Berkeley</h2>
				</a>
			</div>
			<ul>
				<li><a id='events-link' href='/events'>Events</a></li>
				<li><a id='families-link' href='/families'>Families</a></li>
				<li><a id='committees-link' href='/committees'>Committees</a></li>
				<li><a id='cabinet-link' href='/cabinet'>Cabinet</a></li>
				<li><a id='media-link' href='/media'>Media</a></li>
			</ul>
			
			<div class='transition' id='login-button'>
				<div id='admin'><a href='/login'>Log in</a></div>
				<div id='login-pip' class='transition'><a href='/signup'>Sign up</a></div>
			</div>
		</nav>
		<div id='page-wrapper'>
			<div id='dark-overlay'></div>
			<header>Asian American Assocation</header>
			<main>
				<h1>Mission Statement</h1>
				<div>
					The purpose of the Asian American Association (AAA) is to be at the forefront of uniting the Asian American Community at Berkeley. AAA seeks to develop proactive and community-oriented leaders through a social, educational awareness and service network. It enhances the quality of life at Berkeley through its focus on diversity appreciation.
				</div>
				<h2>Come check out our table on Sproul 10-2!</h2>
			</main>
			<footer>
				<div>Find us @</div>
				<a href='https://www.facebook.com/UCBAAA'>Facebook</a>
				<div>Techno 2015</div>
			</footer>
		</div>
	</body>
</html>