<div class='main-wrapper'>
	<h1 class='page-title media-model-title'>{{title}}</h1>
	{{#each media}}
		<div class='media-container'>
			<div class='media-header'>
				<div class='media-title'><h1>{{ name }}</h1></div>
			</div>
			<div class='iframe-container'>
				<iframe width="540" height="360"
					src="{{youtubeURL}}">
				</iframe>
			</div>
		</div>
	{{/each}}
</div>