/*Global styling*/

*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

a{
	text-decoration: none;
	color: inherit;
}

header h1{
	text-align: center;
	font-size: 54px;
	padding: 10px;
}

.subtitle h2{
	text-align: center;
	opacity: 0.75;
	font-size: 36px;
	padding: 5px;
	margin-bottom: 50px;
}

textarea{
	display: block;
	width: calc(100% - 20px);
	padding: 10px;
	border: none;
}

textarea:focus{
	outline: none;
}

input {
	display: block;
	width: calc(100% - 20px);
    box-shadow: none;
    border: none;
    padding: 10px;
}

input:focus{
	outline: none;
}

form{
	overflow: hidden;
}

.transition {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

/*logout*/

nav{
	padding: 10px;
}

nav div{
	padding: 10px;
}

nav div a{
	width: 100%;
	height: 100%;
	padding: 10px;
	border: 2px solid gray;
}

nav div a:hover{
	border: 2px solid transparent;
}

/*structural class element styling*/
.admin-form{
	width: 960px;
	margin: 0 auto;
}

.admin-form h1{
	background: black;
	color: white;
	padding: 10px;
}

.admin-el{
	width: 100%;
	background: rgba(0, 0, 0, 0.75);
	color: white;
	border-bottom: 1px solid;
}

.admin-el-name{
	display: inline-block;
	width: 900px;
	vertical-align: top;
}

.admin-el-name h2{
	padding: 15px;
}

.delete-button{
	width: calc(60px - 8px);
	height: calc(60px - 8px);
	background: red;
	line-height: 48px;
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	cursor: hand;
	cursor: pointer;
	border: 4px solid red;
}

.delete-button:hover{
	background: white;
	color: red;
}

.submit-form{
	width: 100%;
	height: 200px;
}

.submit-form:last-child{
	border-bottom: 2px solid black;
}

.submit-form form{
	height: 100%;
}
.input-tags{
	vertical-align: top;
	display: inline-block;
	width: calc(450px - 2px);
	height: 100%;
	border-left: 2px solid black;
}

.input-tags input{
	border-bottom: 2px solid black;
}

.input-tags textarea{
	border-bottom: 2px solid black;
}

.textarea-tags{
	vertical-align: top;
	display: inline-block;
	width: calc(450px - 2px);
	height: 100%;
	border-left: 2px solid black;
}

.textarea-tags textarea{
	height: 100%;
}

.submit-tags{
	display: inline-block;
	width: 60px;
	height: 100%;
	vertical-align: top;
}

.submit-tags button{
	width: 100%;
	height: 100%;
	background: green;
	color: white;
	font-size: 48px;
	border: none;
	cursor: hand;
	cursor: pointer;
	border: 4px solid green;
}

.submit-tags button:hover{
	background: white;
	color: green;
	border: 4px solid green;
}

.media-links{
	display: inline-block;
	width: calc(900px - 2px);
	height: 100%;
	vertical-align: top;
	border-left: 2px solid black;
}

.media-links input{
	border-bottom: 2px solid black;
}

footer{
	height: 200px;
	border-top: 2px solid black;
	margin-top: 25px;
}

@media (max-width: 1024px) {
	.admin-form{
		width: 600px;
	}

	.admin-el-name{
		width: 540px;
	}

	.submit-form{
		height: 100%;
	}

	.input-tags{
		display: block;
		width: calc(100% - 4px);
		border-right: 2px solid black;
	}

	.textarea-tags{
		display: block;
		width: calc(100% - 4px);
		border-right: 2px solid black;
	}

	.submit-tags{
		display: block;
		width: 100%;
	}

	.submit-tags button{
		width: 100%;
		height: calc(100% - 8px);
	}

	.media-links{
		width: calc(100% - 4px);
		border-right: 2px solid black;
	}
}

@media (max-width: 768px) {
	.admin-form{
		width: 100%;
	}

	.admin-el-name{
		width: calc(100% - 60px);
	}
}